.landing-footer {
  background-color: #8faffa; /* dark blue */
  color: white;
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  line-height: 1.6;
  width: 100%;
  position: relative; 
  border-radius: 30px 30px 0px 0px;
}


@media (max-width: 768px) {
  .landing-footer {
    font-size: 13px;
    padding: 15px 5px;
  }
}
