
.navbar {
  position: fixed; 
  top: 20px; 
  left: 50%; 
  transform: translateX(-50%);
  height: 60px; 
  padding: 0 40px; 
  background-color: #6f86dd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
  z-index: 1000; 
  width: 85%; 
  max-width: 1200px; 
  min-width: 500px; 
}

/* Logo section */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 20px; 
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.logo-circle {
  height: 40px;
  width: 40px;
  border-radius: 40%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 2px solid #fff;
}

.logo-circle img {
  height: 30px;
  width: auto;
  object-fit: contain;
}

/* Links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px; 
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 6px 12px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.navbar-links li a:hover {
  background-color: white;
  color: #6f86dd;
  transform: translateY(-2px);
}


body, .page-content {
  padding-top: 100px; 
}